

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

html, body {
    width: 100%;
    height: 100%;
}

.centered {
    margin: auto;
}

.function-box {
    color: white;
    font-size: 20pt;
    border: 2px;
    border-style: solid;
    display: flex;
    font-family: 'EB Garamond', serif;
}

.tonic {
    border-color: lightgreen;
    background-color: green;
}

.tonic:hover {
    border-color: white;
    background-color: lightgreen;
}

.predominant {
    border-color: lightblue;
    background-color: blue;
}

.predominant:hover {
    border-color: white;
    background-color: lightblue;
}

.dominant {
    border-color: pink;
    background-color: red;
}

.dominant:hover {
    border-color: white;
    background-color: pink;
}

.accessory {
    width: 30%;
    height: 30%;
    z-index: 2000;
}

.applied-dominant {
    background-color: orange;
    font-size: 10pt;
}

.applied-dominant:hover {
    background-color: yellow;
    font-size: 10pt;
}

.toolbar {
    height: 15%;
    border-radius: 10px;
    overflow: hidden;
}

.app-window {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-bar {
    height: 10%;
}

.output-window {
    height: 75%;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}

.disabled {
    background-color: gray;
    border-color: darkgray;
    pointer-events: none;
}